@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;700&display=swap");

#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("../web-hosting-project/images/freedom.jpg") left 10% bottom 70% / cover
      no-repeat border-box,
    #ff1b68;
  width: 100vw;
  height: 33vh;
  margin-top: 2.5rem;
  position: relative;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  /* left: 3.1rem;
  top: 25rem; */
  left: 5%;
  bottom: 5%;
}

.plan__list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan {
  background-color: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan__feature {
  margin: 0.5rem 0;
}

#key-features {
  background-color: #ff1b68;
  margin-top: 80px;
  padding: 1rem;
}

#key-features .section-title {
  color: white;
  margin: 2rem;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.key-feature__image {
  background-color: #ffcede;
  width: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  height: 128px;
  margin: 0 auto;
  padding: 1.2rem;
}

.key-feature__description {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.plan--highlighted {
  background-color: #19b84c;
  color: #fff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background-color: #fff;
  color: #19b84c;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
